<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap" rel="stylesheet">
        <title>Loading...</title>
    </head>
    <body>
        <p>Loading...</p>
        <div id="loadingStatus">
            <p><span id="cpuStatus"></span></p>
            <p><span id="gpuStatus"></span></p>
            <p><span id="memStatus"></span></p>
        </div>
    </body>
</html>

<script>
    window.addEventListener('load', async () => {
        await loadingFunction('cpu');
        await loadingFunction('gpu');
        await loadingFunction('mem');

        await sleep(100);

        window.location.href = "Home"
    })

    function sleep(ms: number) : Promise<void> {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function loadingFunction (str: string): Promise<void> {
        const status = document.getElementById(str+'Status');
        if (!status) return;

        for (let i = 0; i < str.length; ++i) {
            status.textContent += str[i].toUpperCase();
            await sleep(100);
        }

        await sleep(200);

        for (let i = 0; i <= 3; ++i) {
            await sleep(500);
            if (i == 3) {
                status.textContent += ' ✔';
            } else {
                status.textContent += '.';
            }
        }
    }
</script>

<style>
    body {
        font-family: vt323;
        font-size: 30px;
        color: white;
        background-color: black;
    }

    
    .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    }

    .vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    }
</style>