<!DOCTYPE html>
<html>
    <div class="card">
        <div>
            <img class = "class-image" src='/My-Website//coder.png' alt = "A computer screen with some code on it"/>
        </div>
        <div class="name">
            <span>Sam Young</span>
        </div>
        <div class="info">
            Level <span id="age"></span><span id="class"> Goat Computer Scientist</span>
        </div>
        <div class="fursona-container">
            <!-- Placeholder, need a better fit image :P -->
             <!-- Maybe look into Astro's 'Image' component -->
            <img class="fursona" src='/My-Website//Fursona.png' alt="A ram-goat hybrid with a background of a red valley"/>
        </div>
    </div>
</html>

<style>
    html {
        background-color: black;
    }
    .card {
        position: relative;
        background-image: url('/My-Website//CharacterSheet.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 250 / 337;
        max-width: 500px;
        margin: 0 auto;
        color: white;
    }
    .class-image {
        position: absolute;
        width: 15.5%;
        height: 11.5%;
        left: 2.39%;
        top: 1.48%;
        border-radius: 95%;
    }
    .name {
        position: absolute;
        font-size: 1em;
        top: 3%;
        left: 47%;
    }
    .info {
        position: absolute;
        font-size: 1em;
        top: 10%;
        left: 33%;
        color: #ffd100;
    }
    .fursona-container {
        position: absolute;
        top: 17%;
        left: 18.5%;
        width: 65.5%;
        height: 68%;
    }
    .fursona {
        object-fit: cover;
        object-position: 35% center;
        width: 100%;
        height: 100%;
    }
</style>

<script>
    window.onload = function() {

        const age = document.getElementById("age");
        if (age) {
            const birthday = new Date ("March 13, 2004 00:00:00");
            const date = new Date();

            if (date.getMonth() < birthday.getMonth() || (date.getMonth() == birthday.getMonth() && date.getDate() < birthday.getDate())) {
                age.textContent = (date.getFullYear() - 2005).toString();
            } else if (date.getMonth() == birthday.getMonth() && date.getDate() >= birthday.getDate()) {
                age.textContent = (date.getFullYear() - 2004).toString();
            } else {
                age.textContent = (date.getFullYear() - 2004).toString();
            }
        }
    }
</script>