<!DOCTYPE html>
<html>
    <div class="cards">
        <article class="card">
            <div class="name">
                <span>Sam Young</span>
            </div>
            <div class="info">
                Level <span id="age"></span><span id="class"> Goat Computer Scientist</span>
            </div>
            <div class="fursona">
                <!-- Placeholder, need a better fit image :P -->
                <img src='/My-Website//Fursona.png'/>
            </div>
            <div>
                <a href="/My-Website/Home">
                    <button class="character-page" type="button"></button>
                </a>
            </div>
        </article>
    </div>
</html>

<style>
    html {
        background-color: black;
    }
    .card {
        position: relative;
        background-image: url('/My-Website//CharacterSheet.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 750px;
        color: white;
    }
    .name {
        position: absolute;
        font-size: 15px;
        top: 22px;
        left: 245px;
    }
    .info {
        position: absolute;
        font-size: 15px;
        top: 66px;
        left: 200px;
        color: #ffd100;
    }
    .fursona {
        position: absolute;
        top: 145px;
        left: 105px;
    }
    .character-page {
        position: absolute;
        background-color: transparent;
        border: transparent;
        top: 700px;
        left: 55px;
        height: 45px;
        width: 105px;
    }
</style>

<script>
    window.onload = function() {

        const age = document.getElementById("age");
        if (age) {
            const birthday = new Date ("March 13, 2004 00:00:00");
            const date = new Date();

            if (date.getMonth() < birthday.getMonth() || (date.getMonth() == birthday.getMonth() && date.getDate() < birthday.getDate())) {
                age.textContent = (date.getFullYear() - 2005).toString();
            } else if (date.getMonth() == birthday.getMonth() && date.getDate() >= birthday.getDate()) {
                age.textContent = (date.getFullYear() - 2004).toString();
            } else {
                age.textContent = (date.getFullYear() - 2004).toString();
            }
        }
    }
</script>