<footer>
    <div class="footer"></div>
</footer>

<style>
    .footer {
        background-color: black;
        position:absolute;
        bottom: 0px
        left: 0px;
        z-index: 10;
    }
</style>